[Unit]
Description=Telegram Bot Python
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/projects/Botg-saving-files
ExecStart=/root/projects/Botg-saving-files/venv/bin/python /root/projects/Botg-saving-files/bot.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
