[Unit]
Description=Telegram Bot Python
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/projects/Botg-saving-files
ExecStart=/usr/bin/python3 /root/projects/Botg-saving-files/bot.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
